Node-red-Dashboard/flows.json
[
    {
        "id": "95f49b777ee49c6b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aa3953ef4b1bea7a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "2333d9fd45d2e31a",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d548e40fadbf92d4",
        "type": "ui-page",
        "name": "Water Monitering",
        "ui": "aa3953ef4b1bea7a",
        "path": "/page1",
        "icon": "ferry",
        "layout": "grid",
        "theme": "2333d9fd45d2e31a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d5e06ff1dc4254f6",
        "type": "ui-group",
        "name": "Water Status",
        "page": "d548e40fadbf92d4",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b4581a6296e9dca8",
        "type": "ui-page",
        "name": "Port Monitering",
        "ui": "aa3953ef4b1bea7a",
        "path": "/page2",
        "icon": "truck-fast",
        "layout": "grid",
        "theme": "2333d9fd45d2e31a",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "be301f2676f3889b",
        "type": "ui-group",
        "name": "Ship Control",
        "page": "d548e40fadbf92d4",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a4cf6ebdc97abcc5",
        "type": "ui-group",
        "name": "Port Status",
        "page": "b4581a6296e9dca8",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f45098d63ed7fe2f",
        "type": "ui-group",
        "name": "Control In",
        "page": "b4581a6296e9dca8",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bf3665d31c85cfa7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "48a113f51f254502a6fc327abf6fe6a5.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "96db788ceab1ac9c",
        "type": "ui-group",
        "name": "Control Out",
        "page": "b4581a6296e9dca8",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "deb5dfbb5d8eec5f",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/water_status1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "7283e876548e82b0"
            ]
        ]
    },
    {
        "id": "33e99975fd399e4d",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/weight_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "e0e8c5f6409086db"
            ]
        ]
    },
    {
        "id": "e557187e03e682f9",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/parking_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "531ce1c9ead013fa"
            ]
        ]
    },
    {
        "id": "0f03bd959c4fb89c",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/cars_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "f697ef6e7b52c701"
            ]
        ]
    },
    {
        "id": "b8920e5f1ee14bb2",
        "type": "mqtt out",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/servo_control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf3665d31c85cfa7",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "a729e68ee31ae1a2",
        "type": "mqtt out",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/reset_counts",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bf3665d31c85cfa7",
        "x": 890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e2e8994977234ef0",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/water_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "ecb12dc4c048592e"
            ]
        ]
    },
    {
        "id": "9c367faf8181df5e",
        "type": "mqtt in",
        "z": "95f49b777ee49c6b",
        "name": "",
        "topic": "esp32/cars_out",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf3665d31c85cfa7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "946df74c7eba4257"
            ]
        ]
    },
    {
        "id": "f697ef6e7b52c701",
        "type": "ui-template",
        "z": "95f49b777ee49c6b",
        "group": "a4cf6ebdc97abcc5",
        "page": "",
        "ui": "",
        "name": "Car In",
        "order": 4,
        "width": 3,
        "height": 4,
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #007BFF; font-size: 1.8em;\">Cars In</h2>\n  <div style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #007BFF; border-radius: 50%; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #007BFF;\">Today</div>\n      <div id=\"cars-in\" style=\"font-size: 2.5em; font-weight: bold; color: #007BFF;\">0</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/cars_in_topic\") {\n            document.getElementById('cars-in').innerText = msg.payload;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "946df74c7eba4257",
        "type": "ui-template",
        "z": "95f49b777ee49c6b",
        "group": "a4cf6ebdc97abcc5",
        "page": "",
        "ui": "",
        "name": "Car Out",
        "order": 3,
        "width": 3,
        "height": 4,
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #FF5733; font-size: 1.8em;\">Cars Out</h2>\n  <div style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #FF5733; border-radius: 50%; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #FF5733;\">Today</div>\n      <div id=\"cars-out\" style=\"font-size: 2.5em; font-weight: bold; color: #FF5733;\">0</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/cars_out_topic\") {\n            document.getElementById('cars-out').innerText = msg.payload;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a218fbffdb3d6f3b",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "be301f2676f3889b",
        "name": "Permission",
        "label": "Permission",
        "order": 1,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-up",
        "iconPosition": "left",
        "payload": "Permission",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 600,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "e3f9713dbcd082da",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "be301f2676f3889b",
        "name": "Stop",
        "label": "Stop",
        "order": 2,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-down",
        "iconPosition": "right",
        "payload": "Stop",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "1672bf5dda78c9b4",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "f45098d63ed7fe2f",
        "name": "Open In",
        "label": "Open In ",
        "order": 1,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-up",
        "iconPosition": "left",
        "payload": "Open In",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "82a9f4a19ceb82b7",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "f45098d63ed7fe2f",
        "name": "Close In",
        "label": "Close In",
        "order": 2,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-down",
        "iconPosition": "left",
        "payload": "Close In",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "4d8834ccbc39f83a",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "96db788ceab1ac9c",
        "name": "Open Out",
        "label": "Open Out",
        "order": 1,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-up",
        "iconPosition": "left",
        "payload": "Open Out",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "404d6cb90b1cc4e4",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "96db788ceab1ac9c",
        "name": "Close Out",
        "label": "Close Out",
        "order": 2,
        "width": "6",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "boom-gate-arrow-down",
        "iconPosition": "left",
        "payload": "Close Out",
        "payloadType": "str",
        "topic": "esp32/servo_control",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "black",
        "iconColor": "black",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 900,
        "wires": [
            [
                "b8920e5f1ee14bb2"
            ]
        ]
    },
    {
        "id": "1b61e0bf8dbfc815",
        "type": "ui-button",
        "z": "95f49b777ee49c6b",
        "group": "a4cf6ebdc97abcc5",
        "name": "Reset",
        "label": "Reset",
        "order": 5,
        "width": 1,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "iconPosition": "left",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "esp32/reset_counts",
        "topicType": "msg",
        "buttonColor": "black",
        "textColor": "white",
        "iconColor": "white",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "a729e68ee31ae1a2"
            ]
        ]
    },
    {
        "id": "ecb12dc4c048592e",
        "type": "ui-gauge",
        "z": "95f49b777ee49c6b",
        "name": "Water Level",
        "group": "d5e06ff1dc4254f6",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Water Level",
        "units": "%",
        "icon": "water",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "75",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": "25",
        "sizeGap": 4,
        "sizeKeyThickness": "20",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "7283e876548e82b0",
        "type": "ui-chart",
        "z": "95f49b777ee49c6b",
        "group": "d5e06ff1dc4254f6",
        "name": "High Tide",
        "label": "High Tide",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "2",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "10000",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 840,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "531ce1c9ead013fa",
        "type": "ui-template",
        "z": "95f49b777ee49c6b",
        "group": "a4cf6ebdc97abcc5",
        "page": "",
        "ui": "",
        "name": "Car_parking",
        "order": 1,
        "width": 6,
        "height": "6",
        "head": "",
        "format": "<div style=\"text-align: center;\">\n  <h2 style=\"color: #28a745; font-size: 1.8em;\">Parking Slots</h2>\n  <div id=\"parking-status\" style=\"position: relative; width: 150px; height: 150px; margin: 0 auto; border: 10px solid #28a745; border-radius: 10px; display: flex; justify-content: center; align-items: center;\">\n    <div style=\"text-align: center;\">\n      <div style=\"font-size: 1.5em; font-weight: bold; color: #28a745;\">Available</div>\n      <div id=\"parking-slots\" style=\"font-size: 2.5em; font-weight: bold; color: #28a745;\">3</div>\n    </div>\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/parking_status_topic\") {\n            let slots = parseInt(msg.payload);\n            document.getElementById('parking-slots').innerText = slots;\n\n            const container = document.getElementById('parking-status');\n            let color;\n\n            if (slots === 3) {\n                color = \"#28a745\"; // Green\n            } else if (slots === 2) {\n                color = \"#ffc107\"; // Yellow\n            } else {\n                color = \"#dc3545\"; // Red\n            }\n\n            container.style.borderColor = color;\n            document.getElementById('parking-slots').style.color = color;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e0e8c5f6409086db",
        "type": "ui-template",
        "z": "95f49b777ee49c6b",
        "group": "a4cf6ebdc97abcc5",
        "page": "",
        "ui": "",
        "name": "Weight",
        "order": 2,
        "width": "6",
        "height": 11,
        "head": "",
        "format": "<div style=\"text-align: center; font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #f9f9f9;\">\n  <!-- Tiêu đề -->\n  <h1 style=\"color: #FF5733; font-size: 2.5em; margin: 0 0 20px;\">Vehicle Weight</h1>\n\n  <!-- Trọng lượng -->\n  <div style=\"margin-bottom: 20px; font-size: 1.2em;\">\n    <span>Current Weight: </span> \n    <span id=\"vehicle-weight\" style=\"font-weight: bold; color: #007BFF; font-size: 1.5em;\">0.0 tons</span>\n  </div>\n\n  <!-- Thanh trạng thái -->\n  <div style=\"width: 100%; background-color: #ddd; height: 30px; border-radius: 15px; margin: 0 auto; overflow: hidden; position: relative; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);\">\n    <div id=\"weight-bar\" style=\"width: 0%; height: 100%; background-color: #28a745; transition: width 0.5s ease;\"></div>\n  </div>\n\n  <!-- Cảnh báo -->\n  <div id=\"weight-alert\" style=\"margin-top: 20px; font-size: 1.1em; color: #dc3545; font-weight: bold; visibility: hidden;\">\n    Warning: Weight exceeds 30 tons limit!\n  </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === \"esp32/weight_status\") {\n            let weight = parseFloat(msg.payload); // Giá trị trọng lượng từ ESP32\n            document.getElementById('vehicle-weight').innerText = weight.toFixed(1) + \" tons\";\n\n            // Cập nhật thanh trạng thái\n            let maxWeight = 30.0; // Trọng lượng tối đa = 30 tấn\n            let percent = Math.min((weight / maxWeight) * 100, 100);\n            let bar = document.getElementById('weight-bar');\n            bar.style.width = percent + \"%\";\n\n            // Thay đổi màu sắc của thanh trạng thái\n            if (weight > 30.0) {\n                bar.style.backgroundColor = \"#dc3545\"; // Đỏ: quá tải\n            } else if (weight > 25.0) {\n                bar.style.backgroundColor = \"#ffc107\"; // Vàng: gần mức tối đa\n            } else {\n                bar.style.backgroundColor = \"#28a745\"; // Xanh: trong giới hạn\n            }\n\n            // Hiển thị cảnh báo nếu trọng lượng vượt quá 30 tấn\n            let alert = document.getElementById('weight-alert');\n            if (weight > 30.0) {\n                alert.style.visibility = \"visible\";\n            } else {\n                alert.style.visibility = \"hidden\";\n            }\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    }
]